<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.140689423468-22g2deml2gd2gt5oasklfduspodt08pu</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>140689423468-22g2deml2gd2gt5oasklfduspodt08pu.apps.googleusercontent.com</string>
</dict>
</plist>
